@charset "ISO-8859-1";
/* CSS Document */

body  {
	font: 100% Verdana, Arial, Helvetica, sans-serif;
	background: #8DC63F;
	margin: 0; 
	padding: 0; 
	color: #000000;
}

table{
	color:#000000;
	}


#mainContent{
	font-family:Arial, Helvetica, sans-serif;
	font-size: 15px;
	color: #000000;
	text-align:center;
}

#indice{
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#000000;
}

#bienvenido{
	font-family:Arial, Helvetica, sans-serif;
	font-size:18px;
	color:#000000;
	text-align:center;
	
}

#texto{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#000000;
	
}

#mensajes{
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	color:#000000;
	text-align:center;
	
}

#texto_tablas{
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#000000;
	text-align:left;
}

#texto_tablas2{
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#000000;
	text-align:right;
}

#texto_tablas3{
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#000000;
	text-align:center;
}

#texto_tablas4{
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#000000;
	text-align:justify;
}

#texto_tablas_tit{
	font-family:Arial, Helvetica, sans-serif;
	font-size:15px;
	font-weight: bold;
	color: #000000;
	text-align:center;
	
}

#texto_tablas_tit2{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight: bold;
	color: #000000;
	text-align:center;
	
}

#texto_tablas_tit3{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight: bold;
	color: #000000;
	text-align:left;
	
}

#texto_tablas_tit4{
	font-family:Arial, Helvetica, sans-serif;
	font-size:17px;
	font-weight: bold;
	color: #000000;
	text-align:center;
	
}

a:link {
	text-decoration:none; color: #000000;
} /* Link no visitado*/
a:visited {
	text-decoration:none; color:#000000;
} /*Link visitado*/
