vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|01 Feb 2011 17:29:36 -0000
vti_extenderversion:SR|6.0.2.5516
vti_backlinkinfo:VX|catalogos/entrada.asp catalogos/prg_baja_emp1.asp catalogos/prg_baja_emp2.asp catalogos/prg_cambio_emp1.asp catalogos/prg_alta_emp2.asp catalogos/prg_alta_emp1.asp catalogos/prg_valida.asp catalogos/cenefa.html catalogos/prg_cambio_emp2.asp catalogos/prg_cambio_emp3.asp catalogos/prg_indice_base.asp
vti_author:SR|LEONARDO-F8BAC3\\Administrador
vti_modifiedby:SR|LEONARDO-F8BAC3\\Administrador
vti_timecreated:TR|01 Feb 2011 17:29:36 -0000
vti_cacheddtm:TX|01 Feb 2011 17:29:36 -0000
vti_filesize:IR|1222
